@model  IEnumerable<WebAppVenueManagement.ViewModel.RoomDetailsViewModel>

<table style="width: 100%">
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Room Image
            </th>
            <th>
                Room no.
            </th>
            <th>
                Room Price
            </th>
            <th>
                Room Type
            </th>
            <th>
                Room Capacity
            </th>
            <th>
                Room Description
            </th>
            <th>
                Booking Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <td>
                <span id="btnDelete" class="glyphicon glyphicon-trash" onclick="DeleteRoom(@item.RoomId)"></span>&nbsp; &nbsp;
                <span id="btnEdit" class="glyphicon glyphicon-pencil" onclick="EditRoom(@item.RoomId)"></span>

            </td>
            <td>
                <img src="@Url.Content("~/RoomImages/"+ item.RoomImage)" width="30" height="30" class="img-responsive" />
            </td>/
            <td>
                @item.RoomNumber
            </td>
            <td>
                @item.RoomPrice
            </td>
            <td>
                @item.RoomType
            </td>
            <td>
                @item.RoomCapacity
            </td>
            <td>
                @item.RoomDescription
            </td>
            <td>
                @item.BookingStatus
            </td>
        </tr>
            }

    </tbody>
</table>